Sitegeist:
  Monocle:
    BackstopJS:

      # if enabled only prototypes that have @styleguide.options.backstop.default = true will
      # be included, by default all prototypes from the styleguide are included
      defaultOptIn: false

      # if enabled only propSets from prototypes that have @styleguide.options.backstop.propSets = true
      # will be included, by default all propSets from the styleguide are included
      propSetOptIn: false

      # template for the generated backstop.json file
      # the keys 'id','viewports','scenarios' and 'pathes' are
      # replaced by the backstop:configuration command
      # all other keys can be adjusted as needed
      # See: https://github.com/garris/BackstopJS/blob/master/README.md
      configurationTemplate:
        # PackageKey of the site-package
        id: null
        # Scenario configuration, created from the styleguide prototypes
        scenarios: null
        # Viewport configuration, created from the configured monocle viewports
        viewports: null
        # The pathes are adjusted for flow, references and engine scripts are in
        # Test/BackstopJS which should be under version control  while results
        # and reports are only temporary
        paths:
          bitmaps_reference: 'Test/BackstopJS/References'
          engine_scripts: 'Test/BackstopJS/EngineScripts'
          bitmaps_test: 'Data/Temporary/BackstopJS/Test'
          html_report: 'Data/Temporary/BackstopJS/HtmlReport'
          ci_report: 'Data/Temporary/BackstopJS/CiReport'
        onBeforeScript: ''
        onReadyScript: ''
        report:
          - browser
        engine: puppeteer
        engineOptions:
          args:
            - '--no-sandbox'
        asyncCaptureLimit: 5
        asyncCompareLimit: 50
        debug: false
        debugWindow: false

      # template for each scenario, the keys 'label' and 'url' are replaced
      # by the backstop:configuration command, everything else can be adjusted as needed
      # See: https://github.com/garris/BackstopJS/blob/master/README.md#advanced-scenarios
      scenarioTemplate:
        # Replaced with prototype name or styleguide title
        label: null
        # Replaced with prototype preview url
        url: null
        cookiePath: ''
        referenceUrl: ''
        readyEvent: ''
        readySelector: ''
        delay: 0
        hideSelectors: { }
        removeSelectors: { }
        hoverSelector: ''
        clickSelector: ''
        postInteractionWait: 0
        selectors: { }
        selectorExpansion: true
        expect: 0
        misMatchThreshold: 0.1
        requireSameDimensions: true
